<div class="contentContainer">
    <div id="aboutMeContainer">
        <div id="picOfMeDiv">
            <img src="/assets/picOfMe.jpeg" width="300" />
        </div>
        <div id="aboutMeText">
            <p>
                Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.Hi! My name is Nabil Khalil, and I'm an Artist and Programmer.
            </p>
        </div>
    </div>
</div>