<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg">
      <!-- Title -->
      <h1 class="mt-4">{{currentBlogPost?.title}}</h1>
      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{currentBlogPost?.author}}</a>
      </p>

      <hr>
      <!-- Date/Time -->
      <p>{{currentBlogPost?.created}}</p>
      <hr>
      <!-- Post Content -->
      <p>{{currentBlogPost?.content}}</p>
      <hr>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form (ngSubmit)="submitComment(currentBlogPost._id)">
            <div class="form-group">
              <textarea [(ngModel)]="userComment" name="userComment" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <!-- Single Comment -->
      <div class="media mb-4">
        <div class="media-body">
          <div *ngIf="blogComments">
            <div *ngFor="let comment of blogComments">
              <h5 class="mt-0">Anonymous</h5>
              <p>{{comment.content}}</p>
              <div *ngIf="comment.replies.length > 0">
                <div *ngIf="showCommentReplies">
                  <div *ngFor="let reply of comment.replies">
                      <div class="media mt-4" style="margin-left:100px;">
                          <div class="media-body">
                              <h5 class="mt-0">Anonymous</h5>
                              <p>{{reply.content}}</p>
                          </div>
                        </div>
                  </div>
                </div>
                <button (click)="showReplies()">view replies</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>