<div class="contentContainer">
  <div class="IntroContainer">
    <h1 id="introMsg">Welcome To Nabil's Portfolio :D</h1>
  </div>
  <div class="homeContainer">
      <div class="desc1">
        <img src="../assets/computerImg.png" style="float:left"/>
      </div>
      <div class="desc2">
        <p style="padding-top:11em;">I'm a Computer Enthusiast Who'd Rather be Coding than doing Homework. <br/> I'm fluent in the MEAN stack and Python</p>
      </div>
  </div>
  <div class="homeContainer">
      <div class="desc1">
        <img src="../assets/paintbrushImg.png" style="float:left"/>
      </div>
      <div class="desc2">
        <p style="padding-top:11em;">Part Time Digital Artist and Drawing Hobbyist. <br/> Check My Drawing Page for some of my work!</p>
      </div>
  </div>
  <script type="text/javascript" src="//cdn.jsdelivr.net/discord-widget/latest/discord-widget.min.js"></script>
  <iframe src="https://discordapp.com/widget?id=326244482322268160&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
